.auth {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1b53de;

  &__form {
    padding: 60px 40px;
    border: 1px solid black;
    border-radius: 15px;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__button {
      background: #1b53de;
      border: none;
      border-radius: 5px;
      width: 150px;
      height: 40px;
      margin-top: 30px;
      cursor: pointer;
      color: white;

      &:disabled {
        background: #6d7e9d;
        cursor: none;
      }
    }
  }
}